<!DOCTYPE html>
<html>

<head>

<title>Fish Tank</title>

<link rel="stylesheet" href="/static/style.css">

<link rel="icon" type="image/png" href="/static/fav_icon.png">

</head>

<body>

<img src="/static/ibm_logo.png" class="ibm-logo">

<h1>🐟 Fish Tank - Contribution Board - Lucas Galdino</h1>

<div class="stats">

<div class="stat-card">
<h2>🐟</h2>
<p>{{ total_peixes }}</p>
<span>Total Contributions</span>
</div>

<div class="stat-card">
<h2>🦈</h2>
<p>{{ big_fish }}</p>
<span>Big Fish</span>
</div>

<div class="stat-card">
<h2>💬</h2>
<p>{{ total_comentarios }}</p>
<span>Comments</span>
</div>

<a href="/recognitions" class="stat-card clickable">
<h2>🏆</h2>
<p>Recognition Wall</p>
<span>Check my recognitions</span>
</a>

</div>


<div class="grid">

{% for peixe in peixes %}

<div class="card">

<h2>Peixe #{{ peixe['id'] }}</h2>

<p><b>Activity:</b> {{ peixe['atividade'] }}</p>

<p><b>Period:</b> {{ peixe['periodo'] }}</p>

<p><b>Ranking:</b> {{ peixe['ranking'] }}</p>


<p><b>Impact:</b></p>

<div class="impact-text">
{{ peixe['impacto'] }}
</div>

<div class="read-more" onclick="toggleImpact(this)">
Leia mais
</div>


<h3>💬 Comments</h3>

<div class="comments-box">

{% for c in comentarios %}

{% if c['peixe_id']|int == peixe['id'] %}

<div class="comment">
<strong>{{ c['autor'] }}</strong>: {{ c['comentario'] }}
</div>

{% endif %}

{% endfor %}

</div>


<form action="/comentar" method="POST">

<input type="hidden" name="peixe_id" value="{{ peixe['id'] }}">

<input type="text" name="autor" placeholder="Your name">

<textarea name="comentario" placeholder="Write a comment"></textarea>

<button type="submit">Comment</button>

</form>

</div>

{% endfor %}

</div>


<script>

function toggleImpact(button) {

const impact = button.previousElementSibling

if (impact.classList.contains("expanded")) {

impact.classList.remove("expanded")
button.innerText = "Leia mais"

} else {

impact.classList.add("expanded")
button.innerText = "Leia menos"

}

}

</script>


</body>
</html>